@charset "UFT-8";

:root {
    /*Colors*/
    --co-primary-01-moderate-violet: hsl(263, 55%, 52%);
    --co-primary-02-light-pink: hsl(283, 64%, 86%, 100%);
    --co-primary-03-light-pink-70: hsl(283, 64%, 86%, 70%);
    --co-primary-04-light-pink-50: hsl(283, 64%, 86%, 50%);
    --co-primary-05-very-dark-grayish-blue-50: hsl(217, 19%, 35%);
    --co-primary-06-very-dark-blackish-blue: hsl(219, 29%, 14%);
    --co-primary-07-white: hsl(0, 0%, 100%);


    --co-neutral-08-light-gray: hsl(0, 0%, 81%);
    --co-neutral-09-light-grayish-blue: hsl(210, 46%, 95%);

    --co-secondary-10-gray: hsl(207, 4%, 53%, 100%);

    /*Fonts*/
    --ff-Barlow-Semi-Condensed: "Barlow Semi Condensed", sans-serif;
    --fw-regular: 500;
    --fw-semi-bold: 600;
    --fs-10: 1rem;
    --fs-12: 1.2rem;
    --fs-13: 1.3rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;

}

html,
body,
h2,
p,
blockquote {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--co-neutral-09-light-grayish-blue);
    font-family: var(--ff-Barlow-Semi-Condensed);
    font-weight: var(--fw-regular);
    font-size: var(--fs-13);
    color: var(--co-primary-05-very-dark-grayish-blue-50);
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    margin-top: 7rem;
}

.card {
    border-radius: .8rem;
    margin: 0 2.4rem 0 2.4rem;
    padding: 2.4rem 3.3rem 3.3rem 3rem;
}

.card--bkg-01-violet{
    background-color: var(--co-primary-01-moderate-violet);
    color: var(--co-primary-white);
}

.card--bkg-05-grayish-blue {
    background-color: var(--co-primary-05-very-dark-grayish-blue-50);
    color: var(--co-primary-07-white);
}
.card--bkg-06-blackish-blue {
    background-color: var(--co-primary-06-very-dark-blackish-blue);
    color: var(--co-primary-07-white);
}
.card--bkg-07-white {
    background-color: var(--co-primary-07-white);
    color: var(--co-primary-05-very-dark-grayish-blue-50);
}

header {
    margin-bottom: 1.5rem;
    position: relative;
}

header img {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--co-primary-02-light-pink);
    display: block;
    float: left;
}

header p, blockquote {
    line-height: 1.5rem;
}

.card-header__icon[data-icon="quotation"] {
    width: 104px;
    height: 102px;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    fill: var(--co-primary-03-light-pink-70);
    right: 5rem;
    top: 7.5rem; /*7.5rem*/
}

.card-header__person-name strong {
    font-size: 1.3;
    font-weight: var(--fw-semi-bold);
    color: var(--co-primary-02-light-pink);
}

.card-header__graduation {
    margin-bottom: 1.7rem;
    font-size: 1.1rem;
    color: var(--co-primary-04-light-pink-50);
    font-weight: var(--fw-regular);
}

.card-header__title {
    padding-right: 0.9rem;
    position: relative;
    color: var(--co-primary-07-white);
}

.card__content {
    padding-right: 1.5rem;
    line-height: 1.4;
    font-size: var(--fs-13);
}

.card--bkg-01-violet > .card__content{
    color: var(--co-primary-03-light-pink-70);
}

.card--bkg-05-grayish-blue img {
    border: 1px solid var(--co-neutral-08-light-gray)
}

.card--bkg-05-grayish-blue .card-header__person-name strong{
    color: var(--co-primary-07-white);
}

.card--bkg-05-grayish-blue .card-header__graduation,
.card--bkg-05-grayish-blue .card__content {
    color: var(--co-neutral-08-light-gray);
}

.card--bkg-07-white .card-header__person-name strong{
    color: var(--co-primary-06-very-dark-blackish-blue);
}

.card--bkg-07-white .card-header__graduation {
    color: var(--co-primary-05-very-dark-grayish-blue-50);
}

.card--bkg-07-white .card-header__title {
    color: var(--co-primary-06-very-dark-blackish-blue);
}

.card--bkg-06-blackish-blue .card-header__person-name strong,
.card--bkg-06-blackish-blue .card-header__graduation {
    color: var(--co-primary-07-white);
}

.card--bkg-06-blackish-blue .card-header__graduation {
    color: var(--co-neutral-08-light-gray);
}

.card--bkg-06-blackish-blue .card__content {
    font-weight: var(--fw-regular);
    color: var(--co-neutral-08-light-gray);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 900px) {

    body {
        height: 100vh;
        display: grid;
        place-items: center;
    }
    .testimonials {
        margin: 0 3rem;
        max-width: 111rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .card {
        margin: 0;
        width: 100%;
        position: relative;
    }

    .card-header__icon[data-icon="quotation"] {
        position: absolute;
        top: 0;
    }
    /*dANIEL*/
    .card--desktop-1 {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    /*Jonathan*/
    .card--desktop-2 {
        grid-column: 3;
        grid-row: 1;

    }
    /*Jeanette*/
    .card--desktop-3 {
        grid-column: 1;
        grid-row: 2;

    }

    /*Patrick*/
    .card--desktop-4 {
        grid-column: 2 / 4;
        grid-row: 2;
        max-height: 28rem;
        height: 100%;
    }

    /*Kira*/
    .card--desktop-5 {
        grid-column: 4;
        grid-row: 1 / 3;
        max-height: 573rem;
    }

    .attribution {
        z-index: -1;
    }

}